    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">TraVerse</a>
        </div>
      </div>
    </nav>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('Assets/img/restaurants.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Where to Eat</h3>
              <p>This is a description for the first slide.</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('Assets/img/stay.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Where to Stay</h3>
              <p>This is a description for the second slide.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('Assets/img/club.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <h3>Where to Play</h3>
              <p>This is a description for the third slide.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

    <!-- Page Content -->
    <div class="container" id="portfolio" >

      <br>

      <!-- Portfolio Section -->
      <h2>Where to eat?</h2>

      <div class="row">
        <div class="col-lg-3 col-sm-4 portfolio-item">
          <div class="card h-100">
        <div class="imageR"  data-id="m0"></div>
            <div class="card-body">
              <h4 class="card-title">
                <div class="name" data-id="n0"></div>
                
              </h4>
              <div class="rating" data-id="o0"></div>
              <div class="review" data-id="p0"></div>

            </div>
              <div class="card-footer">
              <div class="btn btn-primary button" data-id="q0">
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-3 col-sm-4 portfolio-item">
          <div class="card h-100">
             <div class="imageR"  data-id="m1"></div>
            <div class="card-body">
              <h4 class="card-title">
                <div class="name" data-id="n1"></div>
                
              </h4>
              <div class="rating" data-id="o1"></div>
              <div class="review" data-id="p1"></div>
            </div>
              <div class="card-footer">
              <div class="btn btn-primary  button" data-id="q1">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-4 portfolio-item">
          <div class="card h-100">
             <div class="imageR"  data-id="m2"></div>
            <div class="card-body">
              <h4 class="card-title">
                <div class="name" data-id="n2"></div>
                
              </h4>
              <div class="rating" data-id="o2"></div>
              <div class="review" data-id="p2"></div>
            </div>
            <div class="card-footer">  
              <div class="btn btn-primary button" data-id="q2">
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-4 portfolio-item">
          <div class="card h-100">
            <div class="imageR"  data-id="m3"></div>
            <div class="card-body">
              <h4 class="card-title">
                <div class="name" data-id="n3"> </div>
                
              </h4>
              <div class="rating" data-id="o3"></div>
              <div class="review" data-id="p3"></div>
            </div>
            <div class="card-footer">
              <div class="btn btn-primary button" data-id="q3">
                
              </div>
            </div>
          </div>
        </div>
        </div>

 <h2>Where to stay?</h2>

 <div class="row">
        <div class="col-lg-3 col-sm-4 portfolio-item">
          <div class="card h-100">
        <div class="imageR" data-id="a0"></div>
            <div class="card-body">
              <h4 class="card-title">
                <div class="name" data-id="b0"></div>
                
              </h4>
              <div class="rating" data-id="c0"></div>
              <div class="review" data-id="d0"></div>

            </div>
              <div class="card-footer">
              <div class="btn btn-primary button" data-id="e0">
              
              </div>
            </div>
          </div>
          </div>

       <div class="col-lg-3 col-sm-4 portfolio-item">
          <div class="card h-100">
        <div class="imageR" data-id="a1"></div>
            <div class="card-body">
              <h4 class="card-title">
                <div class="name" data-id="b1"></div>
                
              </h4>
              <div class="rating" data-id="c1"></div>
              <div class="review" data-id="d1"></div>

            </div>
              <div class="card-footer">
              <div class="btn btn-primary button" data-id="e1">
              </div>
            </div>
          </div>
        </div>
          <div class="col-lg-3 col-sm-4 portfolio-item">
          <div class="card h-100">
        <div class="imageR" data-id="a2"></div>
            <div class="card-body">
              <h4 class="card-title">
                <div class="name" data-id="b2"></div>
                
              </h4>
              <div class="rating" data-id="c2"></div>
              <div class="review" data-id="d2"></div>

            </div>
              <div class="card-footer">
              <div class="btn btn-primary button" data-id="e2">
              </div>
            </div>
          </div>
        </div>
            <div class="col-lg-3 col-sm-4 portfolio-item">
          <div class="card h-100">
        <div class="imageR" data-id="a3"></div>
            <div class="card-body">
              <h4 class="card-title">
                <div class="name" data-id="b3"></div>
                
              </h4>
              <div class="rating" data-id="c3"></div>
              <div class="review" data-id="d3"></div>

            </div>
              <div class="card-footer">
              <div class="btn btn-primary button" data-id="e3">
              </div>
            </div>
          </div>
        </div>
        </div>

 <h2>Where to Play?</h2>

 <div class="row">
        <div class="col-lg-3 col-sm-4 portfolio-item">
          <div class="card h-100">
        <div class="imageR" data-id="f0"></div>
            <div class="card-body">
              <h4 class="card-title">
                <div class="name" data-id="g0"></div>
                
              </h4>
              <div class="rating" data-id="h0"></div>
              <div class="review" data-id="i0"></div>

            </div>
              <div class="card-footer">
              <div class="btn btn-primary button" data-id="j0">
              </div>
            </div>
          </div>
          </div>

       <div class="col-lg-3 col-sm-4 portfolio-item">
          <div class="card h-100">
        <div class="imageR" data-id="f1"></div>
            <div class="card-body">
              <h4 class="card-title">
                <div class="name" data-id="g1"></div>
                
              </h4>
              <div class="rating" data-id="h1"></div>
              <div class="review" data-id="i1"></div>

            </div>
              <div class="card-footer">
               <div class="btn btn-primary button" data-id="j1">
              </div>
            </div>
          </div>
        </div>
          <div class="col-lg-3 col-sm-4 portfolio-item">
          <div class="card h-100">
        <div class="imageR" data-id="f2"></div>
            <div class="card-body">
              <h4 class="card-title">
                <div class="name" data-id="g2"></div>
                
              </h4>
              <div class="rating" data-id="h2"></div>
              <div class="review" data-id="i2"></div>

            </div>
              <div class="card-footer">
              <div class="btn btn-primary button" data-id="j2">
              </div>
            </div>
          </div>
        </div>
            <div class="col-lg-3 col-sm-4 portfolio-item">
          <div class="card h-100">
        <div class="imageR" data-id="f3"></div>
            <div class="card-body">
              <h4 class="card-title">
                <div class="name" data-id="g3"></div>
                
              </h4>
              <div class="rating" data-id="h3"></div>
              <div class="review" data-id="i3"></div>

            </div>
              <div class="card-footer">
              <div class="btn btn-primary button" data-id="j3">
              </div>
            </div>
          </div>
        </div>
        </div>

      
      <hr>

      <!-- Call to Action Section -->
      <div class="row mb-4">
        <center>
        <div class="col-md-8">
          <center>
          <span class="input-group-btn">
          <button type="button" class="btn-class btn-lg btn-secondary " onclick="showForm()">Add New Diner</button>
          <button type="button" class="btn-class btn-lg btn-secondary " onclick="showDiners()">View Diners</button>
          </span>
        </div>
      </div>

    </div>
    <!-- /.container -->

  

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

      <div class="row align-items-center justify-content-center dform " id="dform">
  <center>
  
    <div class="border-class">
        <h2>Traverse - Diner Info</h2>
        {{#each diners}}

      
            <form action="diner/update/{{id}}" method="POST">
            <div class="input-group dform">
              <li class="form-control dform">
               Id: {{id}} 
                Name: {{name}} 
                Location: {{location}} 
                <input type="hidden" name="location" value="{{location}}">
                  max price: <select name="price" id="price">
                  {{#select max_price}}
                      <option value="1"> Cheap</option>
                      <option value="2"> Moderate</option>
                      <option value="3"> Expensive</option>
                      <option value="4"> I got a Raise</option>
                  {{/select}}
                </select>

                </li>
                <span class="input-group-btn">
                 <button type="button" class="btn-class btn-warning btn-sm" onclick="getPlaces(location.value,price.value)">View Places</button>
                  
                </span>
            </div>
            </form>
 
        {{/each}}

      </div>
    </div>


  




